.web_bg {
    height: 626px;
}

@media screen and (min-width: 320px) and (max-width:750px){
                
    .web_bg .aaaa {
        float: right;
        margin-right: 0; 
        margin-top: 15%;
      
  }
}

@media screen and (min-width: 751px){
                
    .web_bg .aaaa {
        float: right;
        margin-right: 100px; 
        margin-top: 15%;
       
  }
}

.title3{
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    margin-left: 40px;
}